.base {
  position: fixed;
  height: 667px;

  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;

}
:global {
  //.drawer {
  //  width: 0;
  //  background-color: white;
  //  height: 100%;
  //  border-right: 2px solid grey;
  //}
  .drawer-enter {
    width: 0;
  }
   .drawer-enter-active, .drawer-enter-done {
    width: 100px;
    transition: width 300ms ease-in;
     height: 100%;
     border-right: 2px solid grey;
  }
  .drawer-exit {
    width: 0;
    transition: width 300ms ease-out;
    height: 100%;
    border-right: 2px solid grey;
  }
  .drawer-exit-active, .drawer-exit-done{
    width: 0;
  }
}