.base{
  position: relative;
  width: 375px;
  height: 667px;
  background-color: black;
  border: 1px solid grey;
}

.open {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.close {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 70px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.keep {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 130px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}